<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link href="<?php echo base_url(); ?>assets/css/bootstrap.css"
	rel="stylesheet" />
<title>SoundLink</title>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<ul class="nav nav-pills pull-right">
				<li><a href="<?php echo base_url().'AlbumController';?>">Albums</a></li>
				<li><a href="<?php echo base_url().'ArtistController';?>">Artists</a></li>
				<li><a href="<?php echo base_url().'InscriptionController';?>">Inscription</a></li>
				<li><a href="<?php echo base_url().'AboutController';?>">About</a></li>
			</ul>
			<h3>
				<a href="<?php echo base_url();?>">Soundlink</a>
			</h3>
		</div>
		<p class="lead">Who are we ? <br><br> We are currently students at the IT of Senart-Fontainebleau<br><br>
    What is Soundlink ? <br><br>
     It's a musical social network where you discover new albums and artists and share your favorite albums and artists with everybody!
    </p>
		<hr>
		<footer>
			<div class="text-center">
				<a href="<?php echo base_url();?>">Home</a>
			</div>
		</footer>
	</div>
</body>
</html>
